.center{margin:0 auto;width:1000px;}
  .zcym_r {width: 447px; height: 416px; background: url(../../Images/home/login/bg11.png) no-repeat; margin: 50px 0 50px 42px;}
}
.ml30 {margin-left: 10px; }
.fl {float: left; display: inline; }
.zc_tit {width: 447px; height: 60px; display: block; line-height: 60px; text-align: center; font-size: 18px; color: #464646; font-weight: normal; border-bottom: 1px solid #ccc; }
.zc_con {width: 310px; margin-left: 50px; }
.zc_con div {width: 310px; height: 45px; }
.mt35 {margin-top: 35px; }
.zc_input1 {width: 310px; background: url(../../Images/home/login/ico68.png) no-repeat left center; }
.zc_input1, .zc_input2, .zc_input3, .zc_bt {height: 40px; line-height: 40px; padding-left: 50px; border: 1px solid #ccc; border-radius: 10px; font-size: 18px; }
.zetsy {font-size: 12px; height: 20px; text-align: left; color: #f1484f; padding-left: 40px; }
.zc_input2 {width: 310px; background: url(../../Images/home/login/ico69.png) no-repeat left center; }
.zc_input1, .zc_input2, .zc_input3, .zc_bt {height: 40px; line-height: 40px; padding-left: 50px; border: 1px solid #ccc; border-radius: 10px; font-size: 18px; }
.mt25 {margin-top: 25px; }
.zc_input3 {width: 170px; background: url(../../Images/home/login/ico70.png) no-repeat left center; }
.zc_input1, .zc_input2, .zc_input3, .zc_bt {height: 40px; line-height: 40px; padding-left: 50px; border: 1px solid #ccc; border-radius: 10px; font-size: 18px; }
.mt5 {margin-top: 5px; }
.fl {float: left; display: inline; }
img {border: 0 none; }
.ml10 {margin-left: 10px; }
.mt8 {margin-top: 8px; }
.ys1 {color: #f1484f!important; }
a {text-decoration: none; }
.zetsy {font-size: 12px; height: 20px; text-align: left; color: #f1484f; padding-left: 40px; display: none; }
 .mt30 {margin-top: 30px; }
.zc_bt {width: 310px; background: #f1484f; color: #fff; text-align: center; padding: 0px; font-size: 18px; }
.zc_input1, .zc_input2, .zc_input3, .zc_bt {height: 40px; line-height: 40px; padding-left: 50px; border: 1px solid #ccc; border-radius: 10px; font-size: 18px; }
.borderNone {border: 0 none !important; }
.zh {text-align: center; }
.ys2 {color: #ff721f!important; }
.ys4 {color: #666!important; }
.dl_img{width: 510px;height: 420px;margin: 50px auto;}