.ltask-tip{height:28px;font:500 12px/28px Simsun}.ltask-tip .today-laywer{display:inline;position:relative;z-index:1000;zoom:1}.ltask-tip .today-laywer-cont{position:absolute;left:-2px;top:12px;top:20px\9;width:250px;height:145px;padding:11px
0 0 20px;background:url(http://img1.lawtimeimg.com/images/ask/today_laywer.png?v=1461915269) no-repeat}.ltask-tip .today-laywer-cont-a{position:absolute;right:-8px;top:12px;top:20px\9;width:250px;height:145px;padding:11px
0 0 20px;background:url(http://img2.lawtimeimg.com/images/ask/today_laywer_a.png?v=1461915269) no-repeat}.ltask-tip .today-laywer-cont h5, .ltask-tip .today-laywer-cont-a
h5{height:33px;font:500 14px/33px Simsun;color:#146bae}.ltask-tip .today-laywer-cont h5 .fl a, .ltask-tip .today-laywer-cont-a h5 .fl
a{color:#146bae}.today-laywer-cont h5 .fl, .today-laywer-cont-a h5
.fl{width:150px;height:28px;overflow:hidden}.today-laywer-cont h5 .fr, .today-laywer-cont-a h5
.fr{width:90px;height:28px;padding:5px
0 0 0}.today-laywer-cont h5 .fr img,  .today-laywer-cont-a h5 .fr
img{margin-right:5px;float:right}.today-laywer-cont-p{padding-top:10px}.today-laywer-cont-p
p{font:500 12px/22px Simsun;color:#999}.today-laywer-cont-p p
strong{color:#333}.today-laywer-cont-p p
em{color:#f36e22}.collect{height:20px;color:#5594D4;position:absolute;right:20px;top:-25px;padding:0
3px;font:700 14px/20px 'Microsoft YaHei';display:none;background:#f9f9f9;border:1px
solid #ddd;border-radius:3px}.today-laywer-cont-p p
a.fav{display:block;width:67px;height:22px;margin-right:15px;font:500 12px/22px Simsun;text-align:center;color:#fff;background:#5594d4}.today-laywer-cont-p p a.fav:hover{text-decoration:none;background:#f36e22}.ltask-tip
strong{color:#f36e22}.ltask-tip
em{color:#999}.ltask-tip
a{color:#2c6daf;text-decoration:none}.ltask-tip a:hover{color:#f36e22;text-decoration:underline}.tip-l-l{height:28px;padding:0
0 0 20px;margin:0
15px 0 0;background:url(http://img2.lawtimeimg.com/images/ask/ask_ico.png?v=1461915269) no-repeat 0 7px}.tip-l-r{height:28px;padding:0
0 0 20px;background:url(http://img2.lawtimeimg.com/images/ask/right_ico.png?v=1461915269) no-repeat 0 7px}.tip-r
strong{margin:0
2px 0 5px}.FloatBg{background-color:#fff;display:none;height:100%;left:0;position:absolute;top:0;width:100%}.FloatBox{background:url("http://img1.lawtimeimg.com/images/common/popup/95.png?v=1461915270") repeat scroll 0 0 transparent;padding:8px;position:absolute;z-index:9999}.FloatBox
.Box{}.FloatBox .Box
.title{background:url('http://img3.lawtimeimg.com/images/common/popup/dialog.gif?v=1461915270') repeat-x scroll 0 0 transparent;color:#333;height:28px}.FloatBox .Box .title
h4{float:left;font-size:14px;line-height:16px;margin:0;padding:7px
10px 0}.FloatBox .Box .title
span{background:url("http://img3.lawtimeimg.com/images/common/popup/dialog.gif?v=1461915270") no-repeat scroll 0px -30px transparent;height:28px;width:9px;padding-right:10px;cursor:pointer;display:block;float:right}.FloatBox .Box .title
.spanhover{background-position:0 -60px}.FloatBox .Box
.content{background:none repeat scroll 0 0 #FFF;padding:10px
15px;color:#333}.FloatBox .Box .content
.wait{background:url("http://img1.lawtimeimg.com/images/common/popup/90.gif?v=1461915270") no-repeat scroll center center transparent;padding:30px}#today-laywer-cont-a1{display:block;margin:325px
248px;z-index:1000}#today-laywer-cont-a2{display:block;margin:325px
144px;z-index:1000}#today-laywer-cont-a3{display:block;margin:325px
43px;z-index:1000}.kc-city-tip{border:2px
solid #069;line-height:24px;background:#fff;position:absolute;left:0px;top:20px;overflow:hidden;padding:10px;width:330px}.kc-city-tip
a{width:36px;padding:0
5px;line-height:24px;height:24px;display:inline-block;text-align:center;float:left;overflow:hidden}.kc-city-tip
a.red{width:40px}.kc-city-tip a:hover{background:#f3f3f3;color:#333;text-decoration:none}.kc-city-tip-biti{text-align:center;color:#F60;border-bottom:1px dashed #ddd;clear:both;margin-bottom:5px}.kc-search-1{height:37px;width:498px;float:right;margin-top:10px;padding-top:5px;padding-left:5px;background:#f8f8f8}.kc-search-1
form{float:left}.sub-form .month_name, .sub-form
.year_name{float:none}.lt_dialog_success_tip,.lt_dialog_warn_tip,.lt_dialog_confirm_tip,.lt_dialog_error_tip{font-size:14px;font-weight:400;line-height:30px;color:#333}.lt_dialog_success_tip .iconfont, .lt_dialog_error_tip .iconfont, .lt_dialog_warn_tip .iconfont, .lt_dialog_confirm_tip
.iconfont{color:#F60;font-size:14px;font-family:"寰蒋闆呴粦";display:inline-block;float:left;height:30px;margin:0;overflow:hidden;width:40px}.lt_dialog_success_tip
.iconfont.success{background:url(http://img1.lawtimeimg.com/images/common/popup/succeed.png?v=1461915270) no-repeat scroll 0 0 transparent}.lt_dialog_error_tip
.iconfont.error{background:url(http://img3.lawtimeimg.com/images/common/popup/error.png?v=1461915270) no-repeat scroll 0 0 transparent}.lt_dialog_warn_tip
.iconfont.warning{background:url(http://img3.lawtimeimg.com/images/common/popup/warning.png?v=1461915270) no-repeat scroll 0 0 transparent}.lt_dialog_confirm_tip
.iconfont.question{background:url(http://img3.lawtimeimg.com/images/common/popup/question.png?v=1461915270) no-repeat scroll 0 0 transparent}.aui_inner
table{width:100%}.aui_loading{background:url(http://img2.lawtimeimg.com/images/common/popup/loading.gif?v=1461915270) no-repeat scroll center 0 transparent;color:#BBB;overflow:hidden;padding:20px
50px 0;text-align:center}.aui_inner{background:none repeat scroll 0 0 #FAFAFA;border:1px
solid #989898;box-shadow:1px 1px 3px rgba(100,100,100,0.3)}.aui_main{vertical-align:top}.aui_main
.aui_content{font:12px/1.5 Microsoft YaHei,Tahoma,Helvetica,Arial,simsun}.aui_titleBar{border-bottom:1px solid #FFF;position:relative}.aui_titleBar
.aui_title{border-bottom:1px solid #E0E0E0;font-size:20px;padding:10px
20px}.aui_close{background:url(http://img3.lawtimeimg.com/images/publichelp/ico.png?v=1461915270) no-repeat 0 0 transparent;height:24px;margin-right:0;overflow:hidden;position:absolute;right:12px;text-indent:-9999px;top:8px;width:24px}.aui_close:hover{background-position:0 -24px}.aui_buttons{background-color:#F6F6F6;border-top:1px solid #E8E8E8;padding:6px
10px;text-align:right}.aui_dialog
button{font-family:"Microsoft YaHei";background:none repeat scroll 0 0 #f8f8f8;border:1px
solid #d0d1d1;border-radius:2px 2px 2px 2px;box-shadow:0 1px 1px rgba(200, 200, 200, 0.3);color:#333;cursor:pointer;display:inline-block;letter-spacing:2px;line-height:1;margin-left:15px;padding:6px
8px;text-align:center}.aui_dialog
button.highlight{background:none repeat scroll 0 0 #4187D5;border:1px
solid #3375BD;color:#fff}.dialog_success .aui_close, .dialog_error .aui_close, .dialog_confirm .aui_close, .dialog_warn
.aui_close{display:none}label.error{background:url(http://img1.lawtimeimg.com/images/common/popup/48.png?v=1461915270) no-repeat scroll 4px 8px transparent;color:#F00;margin-left:6px;padding-left:20px;line-height:26px;height:26px;width:auto}label.success{background:url(http://img3.lawtimeimg.com/images/common/popup/49.png?v=1461915270) no-repeat scroll 4px 8px transparent;color:#090;padding-left:20px}.sub-form .text-input-wrap input.error, .sub-form textarea.error,.sub-form .text-input-wrap input.error:focus, .sub-form textarea.error:focus{border-color:#EC5524;color:#F00}#box{width:600px;text-align:left;margin:0
auto;padding-top:80px}#suggest,#suggest2{width:210px}.gray{color:gray;height:25px;line-height:25px}.ac_results{background:#fff;border:1px
solid #7f9db9;position:absolute;z-index:10000;display:none}.ac_results
ul{margin:0;padding:0;list-style:none}.ac_results li
a{white-space:nowrap;text-decoration:none;display:block;color:#05a;padding:1px
3px}.ac_results
li{border:1px
solid #fff;height:25px;line-height:25px;font-size:12px}.ac_over,.ac_results li a:hover{background:#c8e3fc}.ac_results li a
span{float:right}.ac_result_tip{border-bottom:1px dashed #666;padding:3px;font-size:12px}.ac_page_tip{border-top:1px dashed #666;padding:3px}.ac_page_tip
span{padding:3px;cursor:pointer}.ac_page_tip span.prevpage, .ac_page_tip
span.nextpage{color:blue}.ac_page_tip span.hover,.ac_page_tip span:hover{color:red}hmtl,body{margin:0px;padding:0px;font-family:"Microsoft YaHei";font-size:14px;color:#333;height:100%;/*background:#fff*/}ul,ol,li,h1,h2,h3,h4,h5,h6,dl,dt,dd,p,table,td,img,a,div,strong{margin:0px;padding:0px;border:0;font-weight:normal}ul,li,ol{list-style:none;margin:0;padding:0}.clearfix{zoom:1;clear:both}.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}a{color:#333;text-decoration:none}i,em,cite{font-style:normal}input,textarea,select{font-family:"Microsoft YaHei";background:#FFF;padding:0;margin:0;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;outline:none}.toplink{height:100px;width:100%;background:#2989db}.toplink-Content{width:1000px;margin:0
auto}.logo
h2{height:100px;line-height:100px;float:left;padding-left:10px;color:#fff;font-size:22px}.toplink-Content
p{height:100px;line-height:100px;float:right;color:#fff;font-size:14px}.toplink-Content p
a{color:#fff;margin-left:10px;text-decoration:underline}.box-conter{background:url(http://img3.lawtimeimg.com/images/registers/box-conter.png) repeat;margin:0
auto;width:1000px;padding:0px
0 60px 0}.tagtitle{width:663px;margin:0
auto}.tagtitle
a{height:50px;line-height:50px;overflow:hidden;text-decoration:none;width:220px;text-align:center;color:#666;display:inline-block;background:#d3eafc;margin-right:1px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px}.tagtitle a:hover,
.tagtitle
.cur{background:#9ecbf1;color:#fff}.form-content{padding-top:60px}.txtform{margin:0
0 20px 0;height:38px}.txtform
label{height:38px;line-height:38px;text-align:right;width:320px;float:left;color:#666}.txtform label
em{color:#f60;padding:0px
3px}.txtform
.txtipt{width:320px;height:36px;line-height:36px;color:#333;float:left;border:1px
solid #d0d0d0;padding:0
5px;transition:background 200ms}.txtform
.error{border:1px
solid #f80}.txtform
.conduct{border:1px
solid #88b9e2}.txtform
p{font-size:13px;color:red;margin-left:650px}.txtform p
span{background:url(http://img2.lawtimeimg.com/images/registers/icont.png?v=1461915270) no-repeat -168px 0;height:22px;width:35px;display:block;overflow:hidden;line-height:600px;float:left;margin-top:7px}.txtform
.city{float:left}.txtform .city .city-c{position:relative;float:left;height:40px}.txtform .city .city-c
span{border:1px
solid #d0d0d0;border-right:none;width:38px;line-height:38px;width:100px;cursor:pointer;color:#666;display:block;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;padding-left:10px}.txtform .city .qu
span{border-right:1px solid #d0d0d0;width:98px}.txtform .city .city-c span
i{position:absolute;right:8px;top:18px;border-width:5px;border-style:solid dashed dashed dashed;border-color:#bebebe transparent transparent transparent}.txtform .city .city-c
ul{position:absolute;left:0;top:39px;border:1px
solid #d0d0d0;background:#fff;width:110px;height:192px;overflow:auto;display:none}.txtform .city .city-c ul
li{line-height:24px;height:24px;color:#666;padding-left:10px;cursor:pointer}.txtform .city .city-c ul li:hover{color:#fff;background:#2989db}.txtcheckbox{padding-left:320px;font-size:12px;height:38px;line-height:38px}.txtcheckbox
input{vertical-align:-3px}.txtcheckbox
a{color:#2989db;text-decoration:underline}.btn{height:38px;padding-left:320px;margin:15px
0}.btn .submit-btn{width:320px;height:38px;line-height:38px;color:#fff;background:#f80;border:none;cursor:pointer;font-size:16px;transition:background 200ms}.btn .submit-btn:hover{background:#f70}.foot{background:#d9f1fa;text-align:center;margin:0
auto;width:100%;padding:30px
0}.foot
p{line-height:24px;color:#999;font-size:12px}.tips{text-align:center}.tips
i{background:url(http://img2.lawtimeimg.com/images/registers/icont.png?v=1461915270) no-repeat;width:77px;height:77px;display:block;margin:0
auto}.tips
h1{font-size:26px;height:50px;line-height:50px;margin:5px
0}.tips
p{color:#666;line-height:30px;height:30px}.tips p
span{color:#2989db}.tips
.jihuo{width:100px;height:36px;line-height:36px;display:block;margin:20px
auto;background:#2989db;color:#fff;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;text-decoration:none;transition:background 200ms}.tips .jihuo:hover{background:#3b9ef2}.tips .gohome
a{color:#666;margin:0
20px;line-height:24px;height:24px}.tips .gohome a:hover{color:#2989db}.tipslink{margin:60px
auto 50px;width:510px;height:90px}.tipslink
a{background:url(http://img2.lawtimeimg.com/images/registers/icont.png?v=1461915270) no-repeat 0 -87px;width:90px;height:90px;line-height:90px;text-align:center;display:inline-block;text-decoration:none;color:#666;margin:0
16px}.tipslink a:hover{background-position:-99px -87px;color:#2989db}.m_zlxg{width:109px;height:38px;line-height:38px;cursor:pointer;float:left;display:inline;border:1px
solid #d0d0d0;position:relative}.m_zlxg
i{display:block;position:absolute;border-width:5px;border-style:solid;border-color:#888 transparent transparent transparent;line-height:0px;top:17px;right:10px}.m_zlxg
p{width:71px;padding-right:10px;overflow:hidden;line-height:38px;color:#666;font-size:14px;font-family:"微软雅黑";text-overflow:ellipsis;white-space:nowrap}.m_zlxg2{position:absolute;top:38px;left:-1px;border:1px
solid #d0d0d0;background:#fff;width:109px;display:none;max-height:224px;-height:224px;overflow-x:hidden;overflow-y:auto;white-space:nowrap}.m_zlxg2
li{line-height:28px;white-space:nowrap;width:109px;padding-left:10px;font-family:"微软雅黑";color:#666;font-size:14px}.m_zlxg2 li:hover{color:#7a5a21}.mi_select{border-left:none;border-right:none}.lawyer_pass_ctr,.leo_pass_ctr,.lawfirm_pass_ctr{height:15px;line-height:15px;color:#fff;font-size:12px;width:332px;background:#d7dbe4;margin:-15px 0px 10px 320px;border-radius:2px;overflow:hidden}.lawyer_pass_ctr span,.leo_pass_ctr span,.lawfirm_pass_ctr
span{float:left;width:110px;display:block;height:15px;text-align:center}.lawyer_pass_ctr #mi,.leo_pass_ctr #mi2,.lawfirm_pass_ctr
#mi3{border-left:1px solid #fff;border-right:1px solid #fff}.lawyer_pass_ctr .yellow,.leo_pass_ctr .yellow,.lawfirm_pass_ctr
.yellow{background:#ffe094}.lawyer_pass_ctr .green,.leo_pass_ctr .green,.lawfirm_pass_ctr
.green{background:#aed783}.lawyer_pass_ctr .red,.leo_pass_ctr .red,.lawfirm_pass_ctr
.red{background:#ff8168}.white{background:#fff}.white .logo
a{background:url(http://img2.lawtimeimg.com/images/registers/logo-org.png) no-repeat}.white .logo
h2{color:#333}.white .toplink-Content
p{color:#999}.white .toplink-Content p
a{color:#999}.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime{color:#666;display:-moz-inline-stack;height:20px;line-height:20px;margin-left:6px;vertical-align:middle;float:left}.onShow{background-position:3px -146px;border-color:#40B3FF;color:#666}.onFocus{color:#E77F0A;padding:7px
5px;font-size:13px}.onError{color:#D75607;padding:7px
4px 8px 5px;font-size:13px}.onLoad{background-position:3px -146px;background:url("http://img2.lawtimeimg.com/images/registers/loading.gif?v=1461915270") no-repeat scroll 0 8px transparent;color:#E77F0A;margin-left:6px;text-indent:20px;height:18px;padding:7px;display:block;line-height:18px;float:left;font-size:13px}#AutoComplete{background:#fff;border:1px
solid #4190db;display:none;width:200px}#AutoComplete
ul{list-style-type:none;margin:0;padding:0}#AutoComplete
li{color:#333;cursor:pointer;font:12px/22px \5b8b\4f53;text-indent:5px}#AutoComplete
.hover{background:#6eb6fe;color:#fff}.onlineService{display:inline;position:fixed;_position:absolute;z-index:991;top:228px;right:20px;height:125px;width:75px}.onlineService
.Service{background:url(http://img3.lawtimeimg.com/images/registers/onlineService.png?v=1461915270) no-repeat 0 -10px;height:90px;width:75px;display:block;overflow:hidden;line-height:148px;text-align:center;font-size:12px;color:#999;text-decoration:none}.onlineService .Service:hover{color:#666}.onlineService
.close{background:url(http://img3.lawtimeimg.com/images/registers/onlineService.png?v=1461915270) no-repeat -86px 0;height:14px;width:14px;display:block;float:right;margin-bottom:5px}.searchlawyeroom{position:relative;display:none;z-index:9999}#lfdata{height:180px}.ser_lvsuo{width:620px;height:350px;overflow:hidden;position:absolute;bottom:-37px;left:320px;border:1px
solid #176ccd;background:#fff;height:auto;z-index:999}.ser_lvsuo
.tit{color:#666;line-height:30px;font-size:14px;padding:10px
0 0 15px}.ind_inline{overflow:hidden;font-size:14px;color:#666;padding:10px
0px 0 15px}.input_text{padding:5px;width:260px;border:1px
solid #ddd;color:#666;font-family:"Microsoft YaHei";height:22px;line-height:22px;font-size:14px}.input_text:focus{border-color:#176ccd}.input_btn{background-color:#53a5e7;border:none;color:#fff;cursor:pointer;font-size:14px;height:32px;padding:0;width:54px;border-radius:2px;margin-left:20px}.input_btn:hover{background:#2784cf}.court_sele{border-top:1px solid #ddd;margin-top:20px;font-size:14px;color:#666}.court_sele
p{padding:10px
15px;_zoom:1;margin:0px}.lfirmname{display:block;float:left;line-height:30px;width:50%;color:#666;text-decoration:none;font-size:12px}.lfirmname:hover{color:#f93}.pagination{color:#9C9C9C;height:27px;line-height:27px;border-bottom:0;text-decoration:underline}.court_paye{padding:15px
0px;text-align:center;border-top:1px solid #ddd;border-bottom:1px solid #ddd;overflow:hidden;background:#f9f9f9;text-align:center}.pagination a, .pagination
span{display:inline-block;zoom:1;*display:inline;padding:0.3em 0.5em;margin-right:5px;margin-bottom:5px}.pagination a, .pagination .prev, .pagination .next, .pagination
span{background:none repeat scroll 0 0 #FFF;border:1px
solid #D6D6D6;border-radius:2px;color:#9C9C9C;display:inline-block;zoom:1;*display:inline;font-size:14px;height:25px;margin:0
5px;padding:0
7px;text-decoration:none}.lvsuo_btn{display:inline-block;height:32px;line-height:32px;padding:0px
10px;border-radius:2px;background:#53a5e7;color:#fff;font-size:14px;text-decoration:none}.lvsuo_btn:hover{background-color:#2784cf}.ser_lvsuo
.close{position:absolute;top:10px;right:10px;cursor:pointer;;color:#999}.ser_lvsuo .close:hover{color:#666}.court_paye
.on{background:#53A5E7;border-color:#53A5E7;color:#fff}.court_paye a:hover{background:#53A5E7;border-color:#53A5E7;color:#fff}.court_paye .disable:hover{background:none;border-color:#d6d6d6;color:#666}